  <div class="col-lg-3 col-md-3 col-sm-4">
    <cite title="Source Title"><small style="opacity: 0.4">{{ wordObject.date | date }}</small></cite>
    <p></p>
      <div class="thumbnail" style="height: 450px;">
      <h5> Words raiting: {{ wordObject.raiting }}</h5>
       <img ng-src="{{ wordObject.image }}" style="max-width: 240px; max-height: 280px">
      <div class="caption">
        <h3>{{ wordObject.word + ' - ' + wordObject.translate }}</h3>
        <blockquote>
        <footer>{{ wordObject.example }}</footer>
        </blockquote>
         <a href="{{'#/view/' + wordObject.word}}" >More...</a>
       </div>
    </div>
  
  </div>
