<tr ng-transclude>
	<td >{{ index }} </td>
	<td> <a href="{{'#/view/' + wordObject.word}}" > {{ wordObject.word }} </a></td>
	<td> - </td>
	<td> {{ wordObject.translate }}</td>
	<td> {{wordObject.raiting}}
	<span class='glyphicon glyphicon-star-empty' ng-show="wordObject.raiting <=0"></span>
      <span class='glyphicon glyphicon-star' ng-hide="wordObject.raiting <=0"></span>
      <span class='glyphicon glyphicon-star-empty' ng-show="wordObject.raiting <=20"></span>
      <span class='glyphicon glyphicon-star' ng-hide="wordObject.raiting <=20"></span>
      <span class='glyphicon glyphicon-star-empty' ng-show="wordObject.raiting <=40"></span>
      <span class='glyphicon glyphicon-star' ng-hide="wordObject.raiting <=40"></span>
      <span class='glyphicon glyphicon-star-empty' ng-show="wordObject.raiting <=60"></span>
      <span class='glyphicon glyphicon-star' ng-hide="wordObject.raiting <=60"></span>
      <span class='glyphicon glyphicon-star-empty' ng-show="wordObject.raiting <=80"></span>
      <span class='glyphicon glyphicon-star' ng-hide="wordObject.raiting <=80"></span>
	 </td>
	<td> {{ wordObject.date | date }} </td>
      <td> <a href="{{'#/' + wordObject.word + '/edit'}}" ><span  class="glyphicon glyphicon-edit"></span></a> <!-- <a href="#/vocabulary"><span class="glyphicon glyphicon-remove-circle btn-danger"></span></a> --></td>
</tr>