<h1>Vocabulary</h1>
<hr />
<ul class="nav nav-pills">
  <li role="presentation"  ng-click="showWords = true; showList = ''; showCards = ''" ng-class="{active: showWords}"><a href="#/vocabulary" ><span class="glyphicon glyphicon-list-alt" > Words</span></a></li>
  <li role="presentation" ng-class="{active: showList}" ng-click="showWords = ''; showList = true; showCards = ''"><a href="#/vocabulary"><span class="glyphicon glyphicon-list glyphicon" > List</span></a></li>
  <li role="presentation" ng-class="{active: showCards}" ng-click="showWords = ''; showList = ''; showCards = true"><a href="#/vocabulary"><span class="glyphicon glyphicon-th-large"> Cards</span></a>
  </li>
</ul>

<div class="row" style="padding-left: 70%; padding-bottom: 20px">
  <form class="navbar-form navbar-left" role="search">
    <input type="text" class="form-control" placeholder="Search" ng-model="srch">
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
  </form>
</div>

<div class="row" ng-show="showWords">
<div class="col-lg-9">
  <table class="table table-hover">
    <thead>
      <th ng-click="orderByElem = $index; reverseSort = !reverseSort"> # </th>
      <th ng-click="orderByElem = 'word'; reverseSort = !reverseSort">Word </th>
      <th></th>
      <th ng-click="orderByElem = 'translate'; reverseSort = !reverseSort">Translate</th>
      <th ng-click="orderByElem = 'raiting'; reverseSort = !reverseSort">Raiting</th>
      <th ng-click="orderByElem = 'date'; reverseSort = !reverseSort">Added</th>
      <th></th>
    </thead>
    <tbody>
       <tr search-result-words ng-repeat="word in words | filter:srch  | orderBy: orderByElem : reverseSort" word-object="word"></tr>
      </tbody>
 </table>
</div>
</div>
<div ng-repeat="word in words | filter:srch" ng-show="showList">
	<search-result-list word-object="word" name='{{ word.word }}'></search-result-list>
</div>

<div ng-repeat="word in words | filter:srch" ng-show="showCards" >
	<search-result-cards word-object="word" name='{{ word.word }}'></search-result-cards>
 
</div>