<h2>Vocabulary</h2>
<ul class="nav nav-pills">
  <li role="presentation"><a href="#" ><span class="glyphicon glyphicon-list-alt" > Words</span></a></li>
<li role="presentation" class="active "><a href="#"><span class="glyphicon glyphicon-list glyphicon" > List</span></a></li>
  <li role="presentation">
  	<a href="#"><span class="glyphicon glyphicon-th-large"> Cards</span></a>
  </li>
</ul>
<hr />

<div ng-repeat="word in words">
	<search-result word-object="word" layout='{{ style }}'></search-result>
</div>

