<h2>Add new word</h2>
	<hr />
<div class="row">
	<div class="col-md-6" style="padding-top: 20px">
		<form class="form-group">
			<div class="form-inline">

				<div class="form-group">
					<label for="exampleInputName2">New word </label>
					<input type="text" class="form-control" id="exampleInputName2" placeholder="doll" ng-model='word'>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail2">Translate </label>
					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="Лялька" ng-model='translate'>
				</div>
			</div>
			<hr />
			<div class="form-group">
				<label for="pic">Image:</label>
				<input type="text" class="form-control" id="pic" placeholder="http://some.come/img.jpg" ng-model='image'>
			</div>

			<div class="form-group">
				<label for="exmpl">Example:</label>
				<textarea class="form-control" id="exmpl" rows="3" ng-model='example'></textarea>
			</div>
			<button type="submit" class="btn btn-md btn-primary" ng-click="NewWord()">Create</button>
			<button type="reset" class="btn btn-md btn-default" ng-click="word = ''; translate =''; image=''; example=''">Clear</button>

		</form>
	</div>
	<div class="col-md-1">
		
	</div>
	<div class="col-md-5" style="margin-top: -20px">
		<h3 ng-show="word || translate">{{ word + ' - '+ translate}}</h3> 
		<img ng-src="{{image}}" class="img-thumbnail"  style="max-width: 250px; max-hight: 250px" ng-show="image">
		<blockquote ng-show="example">
  			<p>Example</p>
  		<footer>{{ example }}</footer>
		</blockquote >
	
	

	</div>
</div>