
<div class="row">

	<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3" >
		<div class="btn btn-default" ng-click="next('prev')">
		<span class="glyphicon glyphicon-triangle-left">prev</span>
		</div>
	</div>

<div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-1 col-xs-6">
		<h2>{{ word + ' - ' + translate }}</h2>
		
		<img ng-src="{{ image }}" style="max-width: 400px; max-height: 350px" >
		<blockquote ng-show="example">
			<p>Example</p>
			<footer>{{ example }}</footer>
		</blockquote >
		<button class="btn btn-danger btn-sm" ng-click="wordDelete()">Delete</button>
		<a href="{{'#/' + word + '/edit'}}" <button class="btn btn-primary btn-sm">Edit</button></a>
	</div>

	<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3" >
		<div class="btn btn-default" ng-click="next('next')">
		<span>next</span><span class="glyphicon glyphicon-triangle-right"></span>
	</div>
</div>
</div>